#templateSection{
    padding:30px;
    width:80%;
    text-align: left;
    margin: 10%;
}

.w3-container{
    width:60%;
}

.w3-container #templateSection{
    display: inline-block;
}
.temp{
    background-color:rgb(76, 172, 175);
    padding: 2%;
    color: floralwhite;
    border-radius: 50%;
}
.err{
    color:red;
    font-size:12px;
    text-align:center;
}

/* Set a style for the submit button */
.btn {
    padding: 15px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    font-weight: bold;
  }

input[type=text]:focus {
  background-color: lightblue;
}
h1{
    text-align: center;
}