a{
    font-size: 25px;
    color: white;
    
}
a:hover{
    color: black
}

.header{
    background-color: rgb(117, 197, 218);
    padding: 4%;
}

.w3-container{
    margin:10%;
    background-color: skyblue;
    width: 20%;
    padding: 3%;
}