/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; background-image: url("https://images.wallpaperscraft.com/image/cup_ocean_sand_133354_1280x720.jpg"); background-size: cover; background-repeat: no-repeat;}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
